.video-section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.video-container {
    background-image: url(../../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}
.play-icon {
    font-size: 60px;
    color: #fff;
    transition: all 0.2s ease;
}
.play-icon:hover {
    transform: scale(1.2);
}